@page
@model ProtoVinylEksamenGruppe6.Pages.Admin.AdminUpdateModel
@{
}

@* Styling *@
<style>
    body {
        background-color: #243763;

</style>

@if (!Model.adminBruger.IsLoggedIn)
{
    <div class="row">
        <div class="col-4"> </div>
        <div class="col-4">
            Du er ikke logget ind.
            <a href="/Admin/Login" class="button1">Gå til login</a>
            <a href="/Index" class="button1">Gå til Vinyler</a>
            <div class="col-4">
            </div>
        </div>
    </div>
}

@if (Model.adminBruger.IsLoggedIn)
{
    <h1>Ændring af medie:</h1>

    <div class="row">
        <div class="col-3"> </div>
        <div class="col-6">
            <form method="post">
                <div class="form-group">
                    <label>Kunstner</label><br/>
                    <input class="form-control" asp-for="@Model.NyKunstner"/><br/>

                    <label>Titel</label><br/>
                    <input class="form-control" asp-for="@Model.NyTitel"/><br/>

                    <label>Udgivelsesår</label><br/>
                    <input class="form-control" asp-for="@Model.NyÅr"/><br/>

                    <label>Genre</label><br/>
                    <select class="form-control" asp-for="@Model.NyGenre">
                        <option value="">Vælg en genre</option>
                        <option value="Pop">Pop</option>
                        <option value="Hip hop">Hip hop</option>
                        <option value="Rock">Rock</option>
                        <option value="RnB">RnB</option>
                        <option value="Soul">Soul</option>
                        <option value="Reggae">Reggae</option>
                        <option value="Country">Country</option>
                        <option value="Funk">Funk</option>
                        <option value="Folk">Folk</option>
                        <option value="Jazz">Jazz</option>
                        <option value="Disco">Disco</option>
                        <option value="Klassisk">Klassisk</option>
                        <option value="Elektronisk">Elektronisk</option>
                        <option value="Blues">Blues</option>
                        <option value="Børnemusik">Børnemusik</option>
                        <option value="New-age">New-age</option>
                        <option value="Ska">Ska</option>
                        <option value="Traditionelt">Traditionelt</option>
                        <option value="Indie">Indie</option>
                    </select><br/>

                    <label>Stand</label><br/>
                    <select class="form-control" asp-for="@Model.NyStand">
                        <option value="">Vælg en stand</option>
                        <option value="Mint">Mint</option>
                        <option value="NM">Near Mint</option>
                        <option value="VG+">Very Good+</option>
                        <option value="VG">Very Good</option>
                        <option value="Bad">Bad</option>
                        <option value="Ny">Ny</option>

                    </select><br/>

                    <label>Pris</label><br/>
                    <input class="form-control" asp-for="@Model.NyPris"/><br/>

                    <label>Type</label><br/>
                    <select class="form-control" asp-for="@Model.NyType">
                        <option value="Vinyl">Vinyl</option>
                        <option value="CD">CD</option>
                        <option value="Kassettebånd">Kassettebånd</option>
                    </select><br/>

                    <label>VinylType</label><br/>
                    <select class="form-control" asp-for="@Model.NyVinylType">
                        <option value="">Vælg vinyltype</option>
                        <option value="LP">LP</option>
                        <option value="EP">EP</option>
                        <option value="Single">Single</option>
                    </select><br/>





                    <input type="hidden" name="Id" value="@Model.OldMedie.Id"/>

                    <input type="submit" value="Opdater Medie" class="btn btn-success" asp-page-handler="Update"/>
                    <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel"/>
                </div>
            </form>
        </div>
    </div>
}