@page
@model ProtoVinylEksamenGruppe6.Pages.Admin.AdminFjernReservationModel
@{
}

@* Styling *@
<style>
    body {
        background-color: #AD8E70;
</style>


<form method="post">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Vil du fjerne denne reservation?</h1>
            <p>Varen puttes tilbage på lageret.</p>
            <strong>
                <label>Kunstner: @Model.DeleteReservation.Medie.Kunstner</label><br />

                <label>Titel: @Model.DeleteReservation.Medie.Titel</label><br />

                <label>Stand:@Model.DeleteReservation.Medie.Stand</label><br />

                <label>Pris: @Model.DeleteReservation.Medie.Pris</label><br />
                
                <label>Kundenavn: @Model.DeleteReservation.KundeNavn</label><br/>
                
                <label>Kundetelefon: @Model.DeleteReservation.KundeTelefon</label>
            </strong>
        </div>
        <div class="col-3"></div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <input type="hidden" name="Id" value="@Model.DeleteReservation.Id" />
                <input type="submit" value="Fjern" class="btn btn-success" />&nbsp;&nbsp;&nbsp;

                <a href="/Admin/AdminStart" class="btn btn-danger">Fortryd</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</form>