@page
@model ProtoVinylEksamenGruppe6.Pages.CDModel
@{
}

<form class="d-flex" role="search" method="post" asp-page-handler="Search" style="margin-left: auto; width: fit-content;">
    <input class="form-control me-2" type="search" placeholder="Søg" aria-label="Søg" name="query" style="width: 300px;">
    <button class="btn btn-outline-success" type="submit">Søg</button>
</form>
<header>

    @* Styling *@
    <style>
        body {
            background-color: #5DADE2;
    </style>

</header>

<h1>CD'er</h1>
<br />
<p>Produkter i kurven: @Model.KurvTæller</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="Kunstner" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kunstner
                </a>
                <ul class="dropdown-menu" aria-labelledby="Kunstner">
                    <li>
                        <form method="post" asp-page-handler="SorterKunstner">
                            <button type="submit" class="dropdown-item">Sorter stigende</button>
                        </form>
                    </li>
                    <li>
                        <form method="post" asp-page-handler="SorterKunstnerDESC">
                            <button type="submit" class="dropdown-item">Sorter faldende</button>
                        </form>
                    </li>
                </ul>
            </th>
            <th class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="Titel" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Titel
                </a>
                <ul class="dropdown-menu" aria-labelledby="Titel">
                    <li>
                        <form method="post" asp-page-handler="SorterTitel">
                            <button type="submit" class="dropdown-item">Sorter stigende</button>
                        </form>
                    </li>
                    <li>
                        <form method="post" asp-page-handler="SorterTitelDESC">
                            <button type="submit" class="dropdown-item">Sorter faldende</button>
                        </form>
                    </li>
                </ul>
            </th>
            <th>År</th>
            <th>Genre</th>
            <th>Stand</th>
            <th>Pris</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Medier)
        {
            @if (m.Type == "CD" && m.Reserveret == false)
            {
                <tr>
                    <td>@m.Kunstner</td>
                    <td>@m.Titel</td>
                    <td>@m.År</td>
                    <td>@m.Genre</td>
                    <td>@m.Stand</td>
                    <td>@m.Pris</td>
                    <td>@m.Type</td>
                    <td>
                        <form method="post" asp-page-handler="TilføjTilKurv" asp-route-id="@m.Id">
                            <button type="submit" class="button1">Læg i kurv</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
