@page
@model ProtoVinylEksamenGruppe6.Pages.KurvModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <table class="table table-hover">
                <thead>

                    @* Styling *@
                    <style>
                        body {
                            background-color: #75A47F;
                    </style>

                    <h1>Kurv</h1>
                    <br />

                    <tr>
                        <th>Kunstner</th>
                        <th>Titel</th>
                        <th>År</th>
                        <th>Genre</th>
                        <th>Stand</th>
                        <th>Pris</th>
                        <th>Type</th>
                        <th>Vinyltype</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.Medier)
                    {
                        <tr>
                            <td>@m.Kunstner</td>
                            <td>@m.Titel</td>
                            <td>@m.År</td>
                            <td>@m.Genre</td>
                            <td>@m.Stand</td>
                            <td>@m.Pris</td>
                            <td>@m.Type</td>
                            <td>@m.VinylType</td>
                            <td>
                                <form method="post" asp-page-handler="Slet" asp-route-id="@m.Id">
                                    <button type="submit" class="btn btn-primary">Fjern</button>
                                </form>
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-sm-12">
            <br />
            <h1>Opret reservation:</h1>
            <br />
            <form method="post" asp-page-handler="OpretReservation">
                <label><strong>Fulde navn:</strong></label><br />
                <input class="form-control" asp-for="@Model.KundeNavn" /><br />
                <span asp-validation-for="KundeNavn" class="text-danger"></span><br />
                <label><strong>Telefonnummer:</strong></label><br />
                <input class="form-control" asp-for="@Model.KundeTelefon" /><br />
                <span asp-validation-for="KundeTelefon" class="text-danger"></span><br />
                <br />
                <strong>
                Samlet pris: @Model.TotalPris&nbsp;kr <br />
                </strong>
                <br />
                @if (Model.Medier.Count() > 0)
                {
                    <button type="submit" class="btn btn-success">Reserver</button>
                }
                else
                {
                    <div>Kurven er tom. Læg en vare i kurven for at reservere.</div>
                }

            </form>
        </div>
    </div>
</div>